#events {
  padding-top: 10rem;
}

.event_img {
  border-radius: 5px;
  object-fit: fill;
  width: 100%;
  min-height: 50%;
}

.disabled {
  text-decoration: none;
  background-color: rgba(47, 36, 41, 0.5);
  color: white;
  width: 80%;
  padding: 5px;
  border-radius: 100px;
  pointer-events: none;
  margin-top: 20px;
}

.disabled:hover {
  pointer-events: none;
  text-decoration: none;
  cursor: not-allowed;
}

.description {
  width: 100%;
  font-size: 20px;
}

.events {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.fa-calendar-alt {
  margin-right: 5px;
  margin-top: 4px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: 700;
}

.chip {
  margin-right: 5px;
  padding: 10px;
  background-color: rgba(47, 36, 41, 05);
  border-radius: 50px;
}

div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: larger;
  justify-content: center;
  background-color: #7289da;
  height: 100%;
}

.info .moreinfo {
  text-decoration: none;
  color: white;
  background-color: #282c34;
  width: 80%;
  padding: 6px;
  margin-top: 20px;
  border-radius: 100px;
}

.info .moreinfo:hover {
  padding: 1px;
  background: #7289da;
  border: 5px solid #282c34;
}

.event {
  width: 25%;
  justify-content: space-between;
  border-radius: 10px;
  border: 5px solid #7289da;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .event {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  div.info {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 770px) {
  .title {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .title {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .description {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .event {
    display: flex;
    flex-direction: row;
  }
}
